:root{
--fundo: #8fddff;
--cartao-frente: #307dc9;
--cartao-verso:#1f62a3;
--destaque: #d1802e;
}

body{
    background-color: #8fddff;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
    
}